<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Traffic</title>
  <meta name="description" content="Nepal Traffic Police">

  <!-- <meta property="og:type" content="website"/>
  <meta property="og:title" content="Bikcraft - Bicicletas Personalizadas"/> -->
  <!-- <meta property="og:description" content="Nepal Traffic Police"/> -->
  <!-- <meta property="og:url" content="http://devmagno.github.io/bikcraft"/> -->
  <!-- <meta property="og:image" content="img\og-image.png"/> -->
  <!-- <meta property="og:site_name" content="Bikcraft"/> -->

  <script src="https://kit.fontawesome.com/77daa57238.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <meta name="theme-color" content="#1167b1">

  <link rel="shortcut icon" href="../img//og-image.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/style.css">
  <script>document.documentElement.classList.add("js")</script>
</head>
<body>
  <header class="header" style="height:fit-content;">
    <div class="container">
      <a href="index.html" class="grid-2">
        <img src="../img/og-image.png">
      </a>
      <nav class="header_menu grid-14">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="products.html">About Us</a></li>
            <li><a href="http://127.0.0.1:5000/">Chat Bot</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section class="intro">
    <div class="container">
      <h1 data-anime="400" class="fadeInDown">नेपाल ट्राफिक प्रहरी</h1>
      <blockquote data-anime="800" class="external-quote fadeInDown">
      <p>"Welcome to Nepal Traffic Robot Police"</p>
      </blockquote>
    </div>
  </section>
  
  <section class="products container">
    <h2 class="subtitle fadeInDown" data-anime="1600">साधारण प्रश्नहरु</h2>
    <ul class="products_list">
      <li class="grid-1-3 fadeInUp" data-anime="1800">
        <button onclick="play('mapase')" style="background-color:black;">
          <div class="products_list_icon">
            <img src="../img/mapase.jpg">
          </div>
          <button style="background-color:#1167b1;">
            <h3>मा पा से </h3>
          </button>
          
        </button>
        
      </li>
      <li class="grid-1-3 fadeInUp" data-anime="2000">
        <button onclick="play('lane')" style="background-color:black;">
        <div class="products_list_icon">
          <img src="../img/lane.jpg">
        </div>
        <button style="background-color:#1167b1;">
        <h3>लेन क्रशिंग</h3>
      </button>
      </button>
      </li> 
      <li class="grid-1-3 fadeInUp" data-anime="2200">
        <button onclick="play('park')" style="background-color:black;">
        <div class="products_list_icon">
          <img src="../img/park.jpg">
        </div>
        <button style="background-color:#1167b1;">
        <h3>पर्किङ्ग निएम उल्लंगन</h3>
      </button>
        </button>
      </li>
    </ul>
  </section>
  <br>
    <br>
    <br>
    
  <section class="portfolio">
  
    <h2 class="subtitle fadeInDown" data-anime="2000"></h2>
    <div class="call fadeInDown" data-anime="2300">
      <p></p>
      <a href=""></a>
    </div>
  </section>


  <section class="break">

  </section>

  
  <footer>
    <div class="footer-black">
      <div class="container">
        <div class="grid-8 footer_history">
          <h3>नेपाल ट्राफिक प्रहरी</h3>
          <p>
            कृपया आफ्नो जिज्ञासा अनुसार माथि दिएका कोठामा किलिक गर्नु होस्, नेपाल ट्राफिक प्रहरी
          </p> 
        </div>

        <div class="grid-4 footer_contact">
         <h3>सम्पर्क</h3>
          
        <ul>
            <li>- Phone: 103</li>
            <li>- Email: vtpo@nepalpolice.gov.np</li>
            <li>- Address: Baggi Khana, kathmandu</li>
          </ul> 
        </div>

        <div class="grid-4 footer_social">
          <h3></h3>
          <ul>
            <li><a href="https://www.facebook.com/ktmtraffic/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/valleytraffic?lang=en" target="_blank"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <a href="index.html" class="grid-2">
          <img src="../img/og-image.png">
          
        </a>
      </div>
      <h1 style="color: white; float:left;margin-left: 45px;">नेपाल ट्राफिक प्रहरी</h1>
     
      <button class="chatButton"><i class="fas fa-robot"></i></button>
      
    </div>
  </footer>

  <script src="../js/simple-slide.js"></script>
  <script src="../js/simple-anime.js"></script>
  <script src="../js/script.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180193644-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-180193644-1');
  </script>

</body>
</html>